### Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### Goland ###
.idea


vendor

### configuration files ###
config.json
.env

### Go ###
# Binaries for programs and plugins
main

### Swagger Docs ###
docs
